p {

font-family: 'Open Sans', sans-serif;

}



h1,h2 {


  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
 
  
}

.omne p {
background-color:#F5DEB3;
margin-top:0;
margin-bottom:0;
padding-left: 15px;
padding-right: 15px;



}

body {
  position:absolute;
  margin: 0 0 0 0;
  line-height: 1.5;
 margin-left: 40%;
 margin-right:42%;
 border: 2px solid #CD853F;
 border-radius:10px;
 background-image: url(obrazky/Pozadi3.jpg); 
}

.foto-omne { 

 width:269px;
 display:block;
 margin-top:2px;
 margin-bottom:0;
 padding-bottom:0;
 padding-top:0;
 border-radius:10px;

 
 

}

.omne h1 {

  color:white;
  background-color: #CD853F;
  margin-top:0;
  margin-bottom: 0;
  padding-top: 5px;
  padding-bottom:7px;
  
  
  
  


}

.kontakt h2 {
  color:white;
  background-color: #CD853F;
  margin-top:0;
  margin-bottom:0;
  padding-top: 5px;
  padding-bottom:7px;
  
  
}

.odkazy li{
  display:inline-block; 
}


.odkazy {
margin:0;
padding:0;
text-align: center;
background-color: #CD853F;

}

.odkazy a {
  display:inline-block;
  color:white;
  text-decoration:none;
  padding: 20px 30px;

}

.odkazy a:hover,
.odkazy a:focus,
.odkazy a:active {
 background-color:#F5DEB3
}


